body{
    margin: 0;
    padding: 0;
    background-color: 	#F8F8F8;

}


h1{
    text-align: center;
    font-weight: 100;
    margin-bottom: 0;
    font-size: 25px;
}
img{
    padding-left: 800px;
    height: 100px;
    weight: 100px;
}
.header-div p{
    text-align: center;
    margin:0;
    font-size: 15px;
 
    
}
hr{
    border-color: rgb(32, 32, 100);
    size: 30px;
    
}
h3{
    background-color: rgb(49, 155, 190);
    padding: 5px;
    margin:20px;
    margin-bottom: 20px;
    color: #ffffff;
    width: 200px;
  
}
h4{
   
}
.sub-header p{
    margin: 20px;
    text-decoration: 
}
.sub-header ul{
    font-size: 25px;
}

.sub-header2 h4 {
    padding-left: 5px;
    margin-left:20px;

}
.sub-header2 p {
    padding-left: 5px;
    margin-left:20px;

}
.sub-header3 p, h4{
    padding-left: 5px;
    margin-left:20px;

}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  input[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
 
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  form{
      margin: 100px;
      margin-top: 50px;
  }
  #form_header{
      margin-bottom: 50px;
      margin-left: 0;
  }